body {
    overflow: hidden;
}
#timetable {
    min-width:720px;
    //max-width: 1500px;
    height: 580px;
}
.day-axis {
    height:580px;
    width: 20px;
    float:left;
    display: table-cell;
}
.day-text {
    transform: rotate(270deg);
	transform-origin: left top 0;
    float:left;
    height: 80px;
    font-weight: bold;
}
.empty-cell {
    height: 80px;
}
.time-axis {
    display: inline-block;
    height: 20px;
}
.table-right {
    display:table-cell;
}
#timetable-item-container {
    height: 580px;
    position: relative;
}
.item-block {
    background-color: #fababa;
    display: inline-block;
    height: 80px;
    position: absolute;
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}
#horizontal-wrapper, #vertical-wrapper {
    position: absolute;
    width: 100%;
    z-index: -100;
}
.horizontal-box {
    width: 100%;
    height: 78px;
    border: 1px solid #ddd;
    z-index: -100;
}
.vertical-box {
    width: 100%;
    height: 558px;
    border-right: 1px solid #ddd;
    z-index: -100;
    display: inline-block;
}
.app {
    width: 100%;
}
.app-table, .app-list {
    float: left;
}
.app-table {
    min-width: 720px;
    height: 580px;
    width: 85%;
}
.app-list {
    margin-left: 1%;
    width: 14%;
    overflow-y: scroll;
    height: 580px;
}
.list-item {
     cursor: move;
     list-style: none;
     border-radius: 3px;
     background-color: #F44336;
}
.list-item span {
    font-size: 100%;
}
.list-item-image {
    width: 100%;
}
.item-delete-btn {
    top: 0;
    right: 0;
    position: absolute;
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    opacity: 0.5;
}
