.timetable {
    width: 0.9 vw;
    min-width:720px;
    height: 560px;
}
.item-block {
    background-color: red;
    display: inline-block;
    height: 80px;
    position: absolute;
    float:left;
}